<div class="3u idea">
    <section>
      <div class="mbox-style">
        <h2 class="title"><%= idea.title %></h2>
        <div class="content">
          <p class="subtitle"><%= idea.description %></p>
        </div>
        <!-- <p class="button-style2"> --><a href="/<%= idea_path(idea) %>/edit"><font face="helvetica" color="orange"> edit </font></a><!-- </p> -->

        <p class="button-style2">
          <form action='/<%= idea_path(idea) %>' method='POST'>
            <input type="hidden" name="_method" value="DELETE">
            <input type='submit' value="delete"/>
          </form>
        </p>
        <p class="button-style2">
          <form action='/<%= idea_path(idea) %>/like' method='POST' style="display: inline">
            <input type='submit' value="+"/>
          </form>
        </p>
      </div>
    </section>
  </div>
